<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Guess</title>
</head>
<body>
    {% if name: %}
        <h1>Hey, {{name}}</h1>
        <h2>I think you're a {{ gender }}</h2>
        <h3>Probably around {{ age }} years old</h3>
    {% else: %}
        <h1>Who are you?</h1>
    {% endif %}
    <ul>
        <li>
            <a href="{{ url_for('index') }}">Go Home</a>
        </li>
    </ul>
    <footer>
        <p>&copy; Copyright {{ year }}, {{ author }}. Created using Python, Flask, and Jinja.</p>
    </footer>
</body>
</html>