{% extends "base.html" %}

{% block title %}Secrets{% endblock %}

{% block styling %}
  {{ super() }}
  .container{
    background: gray
  }
{% endblock %}

{% block content %}
   <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Welcome</h1>
        <p class="col-md-8 fs-4">Are you ready to discover my secret?</p>
        <a class="btn btn-primary btn-lg" href=" {{ url_for('login') }} "
          >Login</a
        >
      </div>
    </div>
{% endblock %}