<!DOCTYPE HTML>

<html>
	<head>
		<title>Login</title>
	</head>
	<body>
        <div class="container">
		<h1>Login</h1>
        <form method="POST" action="{{url_for('login')}}" novalidate>
			{{ login_form.csrf_token }}
			<p>{{ login_form.email.label }}<br>{{ login_form.email(size=30) }}</p>
			{% if login_form.email.errors %}
				<ul class="errors">
				{% for error in login_form.email.errors %}
					<li>{{ error }}</li>
				{% endfor %}
				</ul>
			{% endif %}
			<p>{{ login_form.password.label }}<br>{{ login_form.password(size=30) }}</p>
			{% if login_form.password.errors %}
				<ul class="errors">
				{% for error in login_form.password.errors %}
					<li>{{ error }}</li>
				{% endfor %}
				</ul>
			{% endif %}
			{{ login_form.submit}}
		</form>

        </div>
	</body>
</html>