<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Oscar Cruz</title>
    <link rel="stylesheet" href="static/css/style.css" />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <main>
      <section>
        <img class="profile-picture" src="static/rsc/profile-picture.jpg" alt="Profile Picture" />
        <h1>Oscar Cruz</h1>
        <h2>Automation Specialist</h2>
        <p>
          As an accomplished Automation Specialist, I bring a wealth of
          experience and expertise in optimizing business processes through the
          implementation of cutting-edge automation solutions. My primary focus
          lies in leveraging Microsoft's Power Automate Desktop and Power
          Automate Cloud to streamline workflows and enhance operational
          efficiency.
        </p>

        <input type="submit" value="Submit" />
      </section>
    </main>
  </body>
</html>
